.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }

.landing-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

img.landing-carousel-size {
    width: auto;
    height: 459.75px;
}

.noMarginLeft {
    margin-left: 0px;
}