.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }

.landing-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

img.landing-carousel-size {
    width: auto;
    height: 459.75px;
}

.noMarginLeft {
    margin-left: 0px;
}

.landing-overflow-hidden {
    overflow: hidden;
}

.landing-border {
    box-sizing: border-box;
    border-style: solid;
    border-width: 20px;
    border-color: #6f42c1;
}

.landing-carousel {
    width: 459.75px;
}

.relative {
    position: relative;
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-purple {
    color: #6f42c1;
}

.font-ethnocentric {
    font-family: ethnocentric;
}

.btn-outline-purple {
    color:#6f42c1 !important;
    border-color: #6f42c1;
}

.btn-outline-purple:hover {
    color:#fff !important;
    background-color: #6f42c1;
    border-color: #6f42c1;
}