<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
<script src="js/saveTextAsFile.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <div class="page-content">
      <div class="wrapper">
<select id="images" onchange="reinit()"></select>
<button id="saveAnnotations" onclick="saveTextAsFile(JSON.stringify(curanno),'json','anno')">Save Annotations</button>
<button id="saveInGit" onclick="commitData()">Save Annotation in Gitlab</button>
<script>
function commitData(){

  data = {
        "branch": "master",
        "commit_message": "Committed "+$('#images option:selected').text(),
        "content": JSON.stringify(curanno),
        "ref":"master"
        /*"actions": [{
            "action": "create",
            "file_path": "result/"+$('#images option:selected').text()+".json",
            "content": JSON.stringify(curanno)
        }]*/
    }


$.ajax({
  method: "PUT",
  url: "https://gitlab.rlp.net/api/v4/projects/16599/repository/files/result%2F"+$('#images option:selected').text()+".json?ref=master&access-token=bPaesdD1s-gcJ5qzaaDv",
  //data: data,
  crossDomain: true,
  contentType: 'application/json',
  dataType: 'json',
  data: data,//JSON.stringify(curanno),
  success: success,
  error: function(xhr, status, error){
         var errorMessage = xhr.status + ': ' + xhr.statusText
         console.log('Error - ' + errorMessage);
         $.ajax({
  method: "POST",
  url: "https://gitlab.rlp.net/api/v4/projects/16599/repository/files/result%2F"+$('#images option:selected').text()+".json?ref=master&access-token=bPaesdD1s-gcJ5qzaaDv",
  //data: data,
  crossDomain: true,
  contentType: 'application/json',
  dataType: 'json',
  data: data,//JSON.stringify(curanno),
  success: success,
  headers:{
    "Authorization": "Bearer bPaesdD1s-gcJ5qzaaDv",
    "PRIVATE-TOKEN":"bPaesdD1s-gcJ5qzaaDv",
    "Content-Type": "application/json"
  }
});
  },
  headers:{
    "Authorization": "Bearer bPaesdD1s-gcJ5qzaaDv",
    "PRIVATE-TOKEN":"bPaesdD1s-gcJ5qzaaDv",
    "Content-Type": "application/json"
  }
});

}

function success(){
  console.log("succeeded!!!!!")
}

  var options=""
  for(url of urls){
    options+="<option value=\""+url["value"]+"\">"+url["label"]+"</option>"
  }
  document.getElementById("images").innerHTML=options
  var index=0;
  var curanno={}
  var viewer;
  var anno;
  window.onload = function() {
    viewer = OpenSeadragon({
      id: "openseadragon",
      prefixUrl: "openseadragon/images/",
      tileSources: {
        type: "image",
        url: "https://heidicon.ub.uni-heidelberg.de/iiif/2/1127792:592134/full/full/0/default.jpg"
      }
    });

    // Initialize the Annotorious plugin
    anno = OpenSeadragon.Annotorious(viewer);

    // Load annotations in W3C WebAnnotation format
    //anno.loadAnnotations('annotations.w3c.json');

    // Attach handlers to listen to events
    anno.on('createAnnotation', function(a) {
      console.log(a)
      console.log(JSON.stringify(a))
      curanno[a["id"]]=a
    });
    anno.on('deleteAnnotation', function(a) {
      delete curanno[a["id"]]
    });
    anno.on('updateAnnotation', function(a) {
      curanno[a["id"]]=a
    });
  }
  function reinit(){
    viewer.open({
        type: "image",
        url: $('#images').val()
      });

    anno.destroy()
        // Initialize the Annotorious plugin
    var anno = OpenSeadragon.Annotorious(viewer);

    // Load annotations in W3C WebAnnotation format
    //anno.loadAnnotations('annotations.w3c.json');
    curanno={}
    // Attach handlers to listen to events
    anno.on('createAnnotation', function(a) {
      console.log(a)
      console.log(JSON.stringify(a))
      curanno[a["id"]]=a
    });
    anno.on('deleteAnnotation', function(a) {
      delete curanno[a["id"]]
    });
    anno.on('updateAnnotation', function(a) {
      curanno[a["id"]]=a
    });
  }
</script>

<div id="openseadragon" style="width: 640px; height: 480px;"></div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
