<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<h1 align="center">Cuneiform Annotator for 2D and 3D objects</h1>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link type="text/css" rel="stylesheet" href="stylesheet/3dhop.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
  <script src="js/lib/gitbeaker.js"></script>
  <script src="js/lib/jtflib.js"></script>
  <script type="text/javascript" src="js/conf/annotatorconf.js"></script>
  <script type="text/javascript" src="js/annotatorfunctions.js"></script>
  <script type="text/javascript" src="js/data/transliterations.js"></script>
  <script type="text/javascript" src="js/data/hs2CDLI.js"></script>
  <script type="text/javascript" src="js/data/hs23D.js"></script>
  <script type="text/javascript" src="js/data/approvals.js"></script>
  <script type="text/javascript" src="js/data/periods.js"></script>
  <script type="text/javascript" src="js/data/character_postags2.js"></script>
  <script type="text/javascript" src="js/data/translitcount.js"></script>
  <script type="text/javascript" src="js/data/languages.js"></script>
  <script type="text/javascript" src="js/data/cuneifymap.js"></script>
  <script type="text/javascript" src="js/data/charlistmap.js"></script>
  <script type="text/javascript" src="js/lib/annotorious-shape-labels.js"></script>

<style>
#grid-source { position: absolute; }
#grid-overlay { position: relative; }
.r6o-editor { width:550px}
.hover { background-color: rgba(0,0,0,0.1) !important; }
.unselected { background-color: rgba(0,0,0,0.5); }
.selected { background-color: none; }
.indexhighlight {border-color: red; stroke:red !important;}
</style>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6" role="main">
Tablet: <select id="images" onchange="loadVariants()"></select> Side: <select id="imageside" onchange="reinit(null)"></select>
<button id="saveAnnotations" onclick="saveTextAsFile(JSON.stringify(curanno),'json','anno')">Save Annotations</button>
<button id="saveInGit" onclick="commitData()">Save Annotation in Gitlab</button><button id="showTransliteration" onClick='document.getElementById("transliterationdialog").show();'>Show Transliteration</button><button id="showTranslation" onClick='document.getElementById("translationdialog").show();'>Show Translation</button><button id="showPaleoCode" onClick='document.getElementById("paleocodedialog").show();'>Show PaleoCodes</button><button id="showIndexedChars" onClick="highlightIndexedChars()">Highlight Indexed Chars</button><button onclick="showHideAnno()">Show/Hide Annotations</button><br/><span id="saveannotationsmessage"></span><br/>
Tagsets: CharacterSet: <input type="radio" id="characterset"> LinguisticAnnotation: <input type="radio" id="linguisticset"/>
<script>

function toggleTransliterationEdit(){
  if ( $("#transliterationtextarea").attr("contenteditable") == "true") {
    $("#transliterationtextarea").attr("contenteditable","false")
    atftext=$("<span>"+$('#transliterationtextarea').html().replaceAll("<br>","\n").replaceAll("<br/>","\n")+"</span>").text()
    atftext=atftext.replace("@obverse","@obverse\n")
    console.log(atftext)
    $('#transliterationtextarea').html(formatTransliteration(atftext))
    valresult=validateATF("&P134316 = TMH NF 1-2, 004\n#atf: lang sux\n")//P1234=P1234"+"\n"+atftext)//+$('#images option:selected').text()+"="+$('#images option:selected').text()+"\n"+atftext)
    $('#transliterationdialogmessage').html("Edited Transliteration "+$('#images option:selected').text()+": Changes are not yet saved in Git!<br>ATF Validation Status: "+valresult)
  } else {
    $("#transliterationtextarea").attr("contenteditable","true")
  }
}

async function saveTransliterationJSON(){
  transliterations[$('#images option:selected').text()]=$("#transliterationtextarea").text()
  saveTransliteration($('#images option:selected').text(),transliterations)
  $('#transliterationdialogmessage').html("Transliteration "+$('#images option:selected').text()+" saved successfully!")
}

function validateATF(atfstring){
  result=jtflib.ATF2JTF(atfstring)
  console.log(result)
  if("errors" in result){
      resstring=""
      for(err in result["errors"]){
        console.log(result["errors"][err])
        resstring+=result["errors"][err]["text"]+"<br>"
      }
      console.log(resstring)
      return resstring
  }
  return "Valid" 
}

$(document).ready(function () {
      $('#images').selectize({
          sortField: 'text',
          maxOptions: 5000
      });    
      $('#3dimages').selectize({
          sortField: 'text',
          maxOptions: 5000
      });
      loadVariants();
  });

  var options=""
  var options2=""
  for(url in urls){
    options+="<option value=\""+url+"\">"+url+"</option>"
  }
  document.getElementById("images").innerHTML=options
  var index=0;
  var translitwasclicked=false
  var curanno={}
  var curcharindex={}
  var curimgindex={}
  var viewer;
  var anno;
  window.onload = function() {
    viewer = OpenSeadragon({
      id: "openseadragon",
      prefixUrl: "openseadragon/images/",
      degrees: 0,
      showRotationControl: true,
      gestureSettingsTouch: {
        pinchRotate: true
      },
      tileSources: {
        type: "image",
        url: "https://heidicon.ub.uni-heidelberg.de/iiif/2/1127792:592134/full/full/0/default.jpg"
      }
    });

    console.log("MLVOCAB: "+mlVocabulary)

    var annoconfig={
      //formatter: Annotorious.ShapeLabelsFormatter,
      widgets:[
    TextMapWidget,
    'COMMENT',
    { widget: 'TAG', 
    vocabulary: mlVocabulary
    }
    ]}


    // Initialize the Annotorious plugin
    anno = OpenSeadragon.Annotorious(viewer,annoconfig);
    //annotations = OpenSeadragon.Annotations({ viewer });
    Annotorious.SelectorPack(anno);
    //Annotorious.BetterPolygon(anno);
    Annotorious.Toolbar(anno, document.getElementById('my-toolbar-container'));
    $.getJSON(gitlabhost+"/api/v4/projects/"+repositoryid+"/repository/files/result%2F"+encodeURIComponent($('#imageside option:selected').text()+".json")+"/raw?ref="+branch+"&access_token="+gitlabtoken, function(result){
      console.log(result)
    annotations=[]
    for(ann in result){
      annotations.push(result[ann])
    }
    curanno=result
    //const annotations = result.map(a => new WebAnnotation(a));
    anno.setAnnotations(annotations);
  }).fail(function(jqXHR, textStatus, errorThrown) { anno.setAnnotations([]);})
    // Attach handlers to listen to events
    anno.on('createAnnotation', function(a) {
      console.log(a)
      console.log(JSON.stringify(a))
      curanno[a["id"]]=a
    });
    anno.on('mouseEnterAnnotation', function(annotation, event) {
        console.log(annotation["id"])
        console.log(curimgindex)
        if(annotation["id"] in curimgindex){
          $('#'+curimgindex[annotation["id"]]).css({"backgroundColor": "yellow", "color": "red","border": "2px solid red"})
        }
    });
    anno.on('mouseLeaveAnnotation', function(annotation, event) {
        if(annotation["id"] in curimgindex){
          $('#'+curimgindex[annotation["id"]]).css({"backgroundColor": "#f7f7f9", "color": "#bd4147","border": "0px"})
        }
    });
    anno.on('selectAnnotation', function(annotation) {
        if(annotation["id"] in curimgindex){
          $('#'+curimgindex[annotation["id"]]).css({"backgroundColor": "#f7f7f9", "color": "#bd4147","border": "0px"})
        }
    });
    anno.on('deleteAnnotation', function(a) {
      delete curanno[a["id"]]
    });
    anno.on('updateAnnotation', function(a) {
      curanno[a["id"]]=a
    });
  }

</script>
<div>
    <div id="my-toolbar-container"></div>
<div id="openseadragon" style="width: 640px; height: 580px;"></div>
      </div>
<a id="metadata" onClick="getEXIFData('openseadragon','metadatafield')">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg>
</a>
<span id="period"></span><br/>CDLI: <span id="cdlilink"></span>&nbsp;Annotation Completeness: <span id="annocomplete"></span> Indexing Completeness: <span id="indexingcomplete"></span><br/>
<span><label for="positioningcorrect">Positioning correct: </label><select id="positioningcorrect"><option value="unknown">Unknown</option><option value="correct">Correct</option><option value="incorrect">Incorrect</option></select>
<label for="transliterationcorrect">Transliteration correct: </label><select id="transliterationcorrect"><option value="unknown">Unknown</option><option value="correct">Correct</option><option value="incorrect">Incorrect</option></select>
<label for="indexingcorrect">Indexing correct: </label><select id="indexingcorrect"><option value="unknown">Unknown</option><option value="correct">Correct</option><option value="incorrect">Incorrect</option></select>
<label for="annotationscorrect">Annotations correct: </label><select id="annotationscorrect"><option value="unknown">Unknown</option><option value="correct">Correct</option><option value="incorrect">Incorrect</option></select>
<label for="annotationscomplete">Annotations complete: </label><select id="annotationscomplete"><option value="unknown">Unknown</option><option value="complete">Complete</option><option value="incomplete">Incomplete</option></select><br/>
<label for="comment">Custom Tag: </label><input id="comment" type="text"/><button id="addTag" onclick="addTag()">Add Tag</button>&nbsp;<button id="saveApprovals" onclick="saveApprovals()">Save Approvals</button><br>
<p id="mytags"></p></span>
</div>
<div id="metadatafield">
</div>
<div class="col-md-6">
  3DModel:<br/>
<select id="3dimages" onchange="setup3dhop()"><option value="https://heidicon.ub.uni-heidelberg.de/eas/partitions/3/0/592000/592202/adce42325842648a219d9f43d7f86da8744a84b1/application/x-ply/HS_1198b_HeiCuBeDa_GigaMesh.ply">Cuneiform Tablet HS 1032B_1</option></select>
<button id="saveAnnotations3D" onclick="saveTextAsFile(JSON.stringify(curanno),'json','anno')">Save 3D Annotations</button>
<button id="saveInGit3D" onclick="commitData()">Save 3D Annotation in Gitlab</button>
<button id="synch2D3DButton" onClick="sync2D3D()">Synchronize 3D and 2D View</button>
<dialog id="transliterationdialog" class="modal-body" style="z-index: 1000 !important ;">
    <h3>Transliteration View <span id="textid"></span></h3>
    <span id="transliterationdialogmessage"></span><br/>
    <code id="transliterationtextarea" style="width: 300px; height: 550px; overflow: auto;">
    </code><br/>
    <button id="closedialog" onClick='toggleTransliterationEdit()'>Edit</button><button id="closedialog" onClick='saveTransliterationJSON()'>Save</button><button id="closedialog" onClick='document.getElementById("transliterationdialog").close()'>Close</button>
</dialog>
<dialog id="translationdialog" class="modal-body" style="z-index: 1000 !important ;">
    <h3>Translation View <span id="textid"></span></h3>
    <code id="translationtextarea" style="width: 300px; height: 550px; overflow: auto">
    </code><br/>
    <button id="closedialog3" onClick='document.getElementById("translationdialog").close()'>Close</button>
</dialog>
<dialog id="paleocodedialog" class="modal-body" style="z-index: 1000 !important ;">
    <h3>PaleoCodeList</h3>
    <ul id="paleocodelist" style="width: 300px; height: 550px; overflow: auto">
    </ul><br/>
    <button id="closedialog2" onClick='document.getElementById("paleocodedialog").close()'>Close</button>
</dialog>
<div id="3dhop" class="tdhop" style="height:700px;width:640px;" onmousedown="if (event.preventDefault) event.preventDefault()"><div id="tdhlg"></div>
 <div id="toolbar">
  <img id="home"        title="Home"                   src="skins/dark/home.png"/><br/>
<!--ZOOM-->
  <img id="zoomin"      title="Zoom In"                src="skins/dark/zoomin.png"/><br/>
  <img id="zoomout"     title="Zoom Out"               src="skins/dark/zoomout.png"/><br/>
<!--ZOOM-->
<!--LIGHTING-->
  <img id="lighting_off" title="Enable Lighting"       src="skins/dark/lighting_off.png" style="position:absolute; visibility:hidden;"/>
  <img id="lighting"     title="Disable Lighting"      src="skins/dark/lighting.png"/><br/>
<!--LIGHTING-->
<!--LIGHT-->
  <img id="light_on"    title="Disable Light Control"  src="skins/dark/lightcontrol_on.png" style="position:absolute; visibility:hidden;"/>
  <img id="light"       title="Enable Light Control"   src="skins/dark/lightcontrol.png"/><br/>
<!--LIGHT-->
<!--MEASURE-->
  <img id="measure_on"  title="Disable Measure Tool"   src="skins/dark/measure_on.png" style="position:absolute; visibility:hidden;"/>
  <img id="measure"     title="Enable Measure Tool"    src="skins/dark/measure.png"/><br/>
<!--MEASURE-->
<!--POINT PICKING-->
  <img id="pick_on"     title="Disable PickPoint Mode" src="skins/dark/pick_on.png" style="position:absolute; visibility:hidden;"/>
  <img id="pick"        title="Enable PickPoint Mode"  src="skins/dark/pick.png"/><br/>
<!--POINT PICKING-->
<!--SECTIONS-->
  <img id="sections_on" title="Disable Plane Sections" src="skins/dark/sections_on.png" style="position:absolute; visibility:hidden;"/>
  <img id="sections"    title="Enable Plane Sections"  src="skins/dark/sections.png"/><br/>
<!--SECTIONS-->
<!--COLOR-->
  <img id="color_on"    title="Disable Solid Color"    src="skins/dark/color_on.png" style="position:absolute; visibility:hidden;"/>
  <img id="color"       title="Enable Solid Color"     src="skins/dark/color.png"/><br/>
<!--COLOR-->
<!--CAMERA-->
  <img id="perspective"  title="Perspective Camera"    src="skins/dark/perspective.png" style="position:absolute; visibility:hidden;"/>
  <img id="orthographic" title="Orthographic Camera"   src="skins/dark/orthographic.png"/><br/>
<!--CAMERA-->
<!--SCREENSHOT-->
  <img id="screenshot" title="Save Screenshot"   src="skins/dark/screenshot.png"/><br/>
<!--SCREENSHOT-->
<!--FULLSCREEN-->
  <img id="full_on"     title="Exit Full Screen"       src="skins/dark/full_on.png" style="position:absolute; visibility:hidden;"/>
  <img id="full"        title="Full Screen"            src="skins/dark/full.png"/>
<!--FULLSCREEN-->
 </div>
             <div id="toolbar2">
                <img id="btn-edit-object" title="Edit Object Information" src="skins/dark/objectedit.png" /><br />
                <img id="select_on" title="Disable Selection Tool" src="skins/dark/polygon_selection_on.png" style="position:absolute; visibility:hidden;" />
                <img id="select" title="Enable Polygon Selection" src="skins/dark/polygon_selection.png" /><br />
                <img id="btn-test-polygoneditor" title="Test Polygon Editor" src="skins/dark/polygon_editor.png" /><br />
                <img id="btn-open-features-modal" title="Edit Features" src="skins/dark/features.png" /><br />
                <img id="btn-open-featuregroup-modal" title="Edit Features Groups" src="skins/dark/featuregroup.png" /><br />
                <img id="btn-open-interpretation-modal" title="Edit Interpretations" src="skins/dark/interpretation.png" /><br />
            </div>


<!--MEASURE-->
 <div id="measure-box" class="output-box">Measured length<hr/><span id="measure-output" class="output-text" onmousedown="event.stopPropagation()">0.0</span></div>
<!--MEASURE-->

<!--POINT PICKING-->
 <div id="pickpoint-box" class="output-box">XYZ picked point<hr/><span id="pickpoint-output" class="output-text" onmousedown="event.stopPropagation()">[ 0 , 0 , 0 ]</span></div>
<!--POINT PICKING-->

<!--SECTIONS-->
 <div id="sections-box" class="output-box">
  <table class="output-table" onmousedown="event.stopPropagation()">
	<tr><td>Plane</td><td>Position</td><td>Flip</td></tr>
	<tr>
		<td><img   id="xplane_on"    title="Disable X Axis Section" src="skins/icons/sectionX_on.png" onclick="sectionxSwitch()" style="position:absolute; visibility:hidden; border:1px inset;"/>
			<img   id="xplane"       title="Enable X Axis Section"  src="skins/icons/sectionX.png"  onclick="sectionxSwitch()"/><br/></td>
		<td><input id="xplaneSlider" class="output-input"  type="range"    title="Move X Axis Section Position"/></td>
		<td><input id="xplaneFlip"   class="output-input"  type="checkbox" title="Flip X Axis Section Direction"/></td></tr>
	<tr>
		<td><img   id="yplane_on"    title="Disable Y Axis Section" src="skins/icons/sectionY_on.png" onclick="sectionySwitch()" style="position:absolute; visibility:hidden; border:1px inset;"/>
			<img   id="yplane"       title="Enable Y Axis Section"  src="skins/icons/sectionY.png"  onclick="sectionySwitch()"/><br/></td>
		<td><input id="yplaneSlider" class="output-input"  type="range"    title="Move Y Axis Section Position"/></td>
		<td><input id="yplaneFlip"   class="output-input"  type="checkbox" title="Flip Y Axis Section Direction"/></td></tr>
	<tr>
		<td><img   id="zplane_on"    title="Disable Z Axis Section" src="skins/icons/sectionZ_on.png" onclick="sectionzSwitch()" style="position:absolute; visibility:hidden; border:1px inset;"/>
			<img   id="zplane"       title="Enable Z Axis Section"  src="skins/icons/sectionZ.png"  onclick="sectionzSwitch()"/><br/></td>
		<td><input id="zplaneSlider" class="output-input"  type="range"    title="Move Y Axis Section Position"/></td>
		<td><input id="zplaneFlip"   class="output-input"  type="checkbox" title="Flip Z Axis Section Direction"/></td></tr></table>
  <table class="output-table" onmousedown="event.stopPropagation()" style="text-align:right;">
	<tr>
	 <td>Show planes<input id="showPlane" class="output-input" type="checkbox" title="Show Section Planes" style="bottom:-3px;"/></td>
	 <td>Show edges<input  id="showBorder" class="output-input" type="checkbox" title="Show Section Edges" style="bottom:-3px;"/></td></tr></table>
 </div>
<!--SECTIONS-->

 <canvas id="draw-canvas" style="background-color:lightgray""/>
</div>
<script type="text/javascript">

function setup3dhop() {
  if($("#3dimages").text() in hs23D && !("bbox" in hs23D[$("#3dimages").text()])){
    	presenter = new Presenter_extended("draw-canvas");
  console.log("load 3d model")
	presenter.setScene({
		meshes: {
			"mesh_1" : { url: $("#3dimages").val() }
		},
		modelInstances : {
			"model_1" : { 
				mesh  : "mesh_1",
				color : [0.8, 0.7, 0.75]
			}
		},
		trackball: {
			type : TurntablePanTrackball,
			trackOptions : {
				startPhi: 35.0,
				startTheta: 15.0,
				startDistance: 2.5,
				minMaxPhi: [-180, 180],
				minMaxTheta: [-30.0, 70.0],
				minMaxDist: [0.5, 3.0]
			}
		}
	});
    console.log(hs23D[$("#3dimages").text()])
    console.log(presenter)
    setTimeout(
    function() 
    {
    hs23D[$("#3dimages").text()]["bbox"]=presenter._scene.meshes.mesh_1.renderable.boundingBox
    console.log(hs23D[$("#3dimages").text()])
    commit3DBBOX()
    }, 20000);

    //
  }
  $.getJSON({    
    url: gitlabhost+"/api/v4/projects/"+repositoryid+"/repository/files/result%2F"+$("#3dimages").text()+"_03_front.png.json/raw?ref="+branch+"&access_token="+gitlabtoken,
    success: function(res){
    result=res
      console.log(result)
    annos3d=result
    annotations=[]
    spots={}
    spotcounter=1
    for(ann in result){
      console.log(result[ann])
      if(!("target" in result[ann])){
        continue;
      }
      console.log(ann)
      console.log(hs23D[$("#3dimages").text()]["bbox"])
      spots[""+ann+""]={}
      curspot=spots[""+ann+""]
      curspot["color"]=[0.0, 0.25, 1.0]
      curspot["mesh"]="Cube"
      curspot["transform"]={}
      curspot["transform"]["matrix"]=[]
      spotcounter+=1
      coords=result[ann]["target"]["selector"]["value"].replace('<svg><polygon','').replace('points=\"','').replace("\"></polygon></svg>","").replaceAll(","," ").trim()
      coordarray=coords.split(" ")
      console.log(coordarray)
      res=[]
      for(i=0;i<coordarray.length-1;i+=2){
        res.push([parseFloat(coordarray[i]),parseFloat(coordarray[i+1])])
      }
      console.log(res)
      bbox=turf.bbox(turf.lineToPolygon(turf.lineString(res)))
      console.log(bbox)
      dims=[]
      if("dimensions" in result[ann]["body"][0]){
        dims=result[ann]["body"][0]["dimensions"]
      }else if("dimensions" in result[ann]["target"]){
        dims=result[ann]["target"]["dimensions"]
      }
      if(spotcounter==0){
        curspot["transform"]["matrix"]=SglMat4.mul(SglMat4.translation([-9.087315,24.171282,4.909572]), SglMat4.scaling([0.1, 0.1, 0.07]))
      }else if(dims!=[]){
        console.log("DIMS: "+dims)
        console.log("0 - "+dims["x"]+" - "+hs23D[$("#3dimages").text()]["bbox"]["min"][0]+" - "+hs23D[$("#3dimages").text()]["bbox"]["max"][0])
        console.log("0 - "+dims["y"]+" - "+hs23D[$("#3dimages").text()]["bbox"]["min"][1]+" - "+hs23D[$("#3dimages").text()]["bbox"]["max"][1])
        xcoordre=rescale(bbox[0],0,dims["x"],hs23D[$("#3dimages").text()]["bbox"]["min"][0],hs23D[$("#3dimages").text()]["bbox"]["max"][0])
        ycoordre=rescale(bbox[1],0,dims["y"],hs23D[$("#3dimages").text()]["bbox"]["min"][1],hs23D[$("#3dimages").text()]["bbox"]["max"][1])
        xcoordex=rescale(bbox[3],0,dims["x"],hs23D[$("#3dimages").text()]["bbox"]["min"][0],hs23D[$("#3dimages").text()]["bbox"]["max"][0])
        ycoordex=rescale(bbox[4],0,dims["y"],hs23D[$("#3dimages").text()]["bbox"]["min"][1],hs23D[$("#3dimages").text()]["bbox"]["max"][1])
        xlength=hs23D[$("#3dimages").text()]["bbox"]["max"][0]-hs23D[$("#3dimages").text()]["bbox"]["min"][0]
        ylength=hs23D[$("#3dimages").text()]["bbox"]["max"][1]-hs23D[$("#3dimages").text()]["bbox"]["min"][1]
        zlength=hs23D[$("#3dimages").text()]["bbox"]["max"][2]-hs23D[$("#3dimages").text()]["bbox"]["min"][2]
        xlengthanno=xcoordex-xcoordre
        ylengthanno=ycoordex-ycoordre
        xlengthscale=1-(25/xlengthanno)
        ylengthscale=1-(25/ylengthanno)
        console.log(xlengthscale+" - "+ylengthscale)
        console.log(25/xlengthscale+" - "+25/ylengthscale)
        console.log([xlengthscale,ylength,zlength])
        if(isNaN(xlengthscale) || xlengthscale<=0){
          xlengthscale=0.1
          xcoordre+=xlengthanno/2
        }else{
          
        }
        if(isNaN(ylengthscale) || ylengthscale<=0){
          ylengthscale=0.1
        }else{

        }
        xcoordre+=4

        /*if(xcoordre>=(xlength/2)){
          xcoordre-=(xlength/2)
          xcoordre+=4
        }else{
          xcoordre=hs23D[$("#3dimages").text()]["bbox"]["min"][0]+xcoordre
          xcoordre+=4
        }*/
        ydiff=ylength-ycoordre
        console.log(ydiff)
        ycoordre=ydiff-2
        console.log(xcoordre+" - "+ycoordre)
        //console.log(xcoordre2+" - "+ycoordre2)
        if(xlengthscale!=0.1)
          curspot["transform"]["matrix"]=SglMat4.mul(SglMat4.translation([xcoordre,ycoordre,5.0]),SglMat4.scaling([xlengthscale/25, ylengthscale, 0.07])) 
        else
          curspot["transform"]["matrix"]=SglMat4.mul(SglMat4.translation([xcoordre,ycoordre,5.0]),SglMat4.scaling([xlengthscale, ylengthscale, 0.07]))
        console.log(curspot["transform"]["matrix"])
      }else if("bbox" in hs23D[$("#3dimages").text()]){
        xcoord=bbox[0]/25
        ycoord=bbox[1]/25
        zcoord=bbox[2]/25       
        console.log([xcoord,ycoord,zcoord])
        xlength=hs23D[$("#3dimages").text()]["bbox"]["max"][0]-hs23D[$("#3dimages").text()]["bbox"]["min"][0]
        ylength=hs23D[$("#3dimages").text()]["bbox"]["max"][1]-hs23D[$("#3dimages").text()]["bbox"]["min"][1]
        zlength=hs23D[$("#3dimages").text()]["bbox"]["max"][2]-hs23D[$("#3dimages").text()]["bbox"]["min"][2]
        console.log([xlength,ylength,zlength])
        if(xcoord>=(xlength/2)){
          xcoord-=(xlength/2)
          xcoord+=4
        }else{
          xcoord=hs23D[$("#3dimages").text()]["bbox"]["min"][0]+xcoord
          xcoord+=4
        }
        ydiff=ylength-ycoord
        console.log(ydiff)
        ycoord=ydiff-2
        console.log([xcoord,ycoord,4.9])
        //console.log(SglMat4.mul(SglMat4.translation([xcoord,ycoord,4.9]),SglMat4.scaling([0.1, 0.1, 0.07])))
        curspot["transform"]["matrix"]=SglMat4.mul(SglMat4.translation([xcoord,ycoord,4.9]),SglMat4.scaling([0.1, 0.1, 0.07]))
        console.log(curspot["transform"]["matrix"])
      }else{
        curspot["transform"]["matrix"]=SglMat4.mul(SglMat4.translation([(bbox[0]/25)-10,(bbox[1]/25),4.9]),SglMat4.scaling([0.1, 0.1, 0.07]))
      }
        
      //SglMat4.mul(SglMat4.translation([bbox[0]/10,bbox[1]/10,bbox[2]/10]), SglMat4.scaling([2.0, 2.0, 2.0]))
      console.log(curspot)
      //annotations.push(result[ann])
    }
    console.log(spots)
    	presenter = new Presenter_extended("draw-canvas");
  console.log("load 3d model")
  presenter._onPickedSpot = onPickedSpot;
	presenter.setScene({
		meshes: {
			"mesh_1" : { url: $("#3dimages").val() },
      "Cube": {url: "models/cube.ply"},
      "Sphere": {url: "models/sphere.ply"}
		},
    spots: spots,
		modelInstances : {
			"model_1" : { 
				mesh  : "mesh_1",
				color : [0.8, 0.7, 0.75]
			}
		},
		trackball: {
			type : TurntablePanTrackball,
			trackOptions : {
				startPhi: 35.0,
				startTheta: 15.0,
				startDistance: 2.5,
				minMaxPhi: [-180, 180],
				minMaxTheta: [-30.0, 70.0],
				minMaxDist: [0.5, 3.0]
			}
		}
	});
console.log("3d model loaded successfully")
//--MEASURE--
	//presenter._onEndMeasurement = onEndMeasure;
//--MEASURE--

//--POINT PICKING--
	presenter._onEndPickingPoint = onEndPick;

//--POINT PICKING--
console.log("init 3dhop")
  console.log(presenter._scene.meshes)
  },
  error: function(data){
	presenter = new Presenter_extended("draw-canvas");
  console.log("load 3d model")
	presenter.setScene({
		meshes: {
			"mesh_1" : { url: $("#3dimages").val() }
		},
		modelInstances : {
			"model_1" : { 
				mesh  : "mesh_1",
				color : [0.8, 0.7, 0.75]
			}
		},
		trackball: {
			type : TurntablePanTrackball,
			trackOptions : {
				startPhi: 35.0,
				startTheta: 15.0,
				startDistance: 2.5,
				minMaxPhi: [-180, 180],
				minMaxTheta: [-30.0, 70.0],
				minMaxDist: [0.5, 3.0]
			}
		}
	});

console.log("3d model loaded successfully")
//--MEASURE--
	//presenter._onEndMeasurement = onEndMeasure;
//--MEASURE--

//--POINT PICKING--
	presenter._onEndPickingPoint = onEndPick;
  presenter._selectionPoints=[[0.0,26.0,2.0]]
  presenter.repaint()
//--POINT PICKING--
console.log("init 3dhop")
  console.log(presenter._scene.meshes)
  }
  

//--SECTIONS--
//	sectiontoolInit();
//--SECTIONS--
});

}

$(document).ready(function(){
	init3dhop();
	 var interval, id, ismousedown;
	 var button = 0;
$('#toolbar2 img')
        .mouseenter(function(e) {
            id = $(this).attr('id');
            if (!ismousedown) $(this).css("opacity", "0.8");
            else $(this).css("opacity", "1.0");
        })
        .mouseout(function(e) {
            clearInterval(interval);
            $(this).css("opacity", "0.5");
        })
        .mousedown(function(e) {
            id = $(this).attr('id');
            ismousedown = true;
            if (e.button == button) {
                actionsToolbar(id);
                if (id == "zoomin" || id == "zoomout") {
                    interval = setInterval(function() {
                        actionsToolbar(id);
                    }, 100);
                } else {
                    clearInterval(interval);
                }
                $(this).css("opacity", "1.0");
                button = 0;
            }
        })
        .mouseup(function(e) {
            ismousedown = false;
            if (e.button == button) {
                clearInterval(interval);
                $(this).css("opacity", "0.8");
                button = 0;
            }
        })
        .on('touchstart', function(e) {
            button = 2;
        })
        .on('touchend', function(e) {
            button = 0;
        });
	setup3dhop();

});
</script>
</div>
<canvas id="svgcanvas" width="300" height="100" style="visibility:hidden">
</canvas>
</div>
<script>
var threedimageindex=0
  for(url in hs23D){
    options2+="<option value=\""+hs23D[url]["url"]+"\">"+url+"</option>"
    threedimageToIndex[url]=threedimageindex
    threedimageindex+=1
  }
  document.getElementById("3dimages").innerHTML=options2
</script>
  </body>

</html>
