<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
<script src="js/saveTextAsFile.js"></script>
<select id="images"></select>
<button id="saveAnnotations" onclick="saveTextAsFile(JSON.stringify(curanno),'json','anno')">Save Annotations</button>
<script>
  var options=""
  for(url of urls){
    options+="<option value=\""+url+"\">"+url+"</option>"
  }
  document.getElementById("images").innerHTML=options
  var index=0;
  var curanno=[]
  window.onload = function() {
    var viewer = OpenSeadragon({
      id: "openseadragon",
      prefixUrl: "openseadragon/images/",
      tileSources: {
        type: "image",
        url: "https://heidicon.ub.uni-heidelberg.de/iiif/2/1127792:592134/full/full/0/default.jpg"
      }
    });

    // Initialize the Annotorious plugin
    var anno = OpenSeadragon.Annotorious(viewer);

    // Load annotations in W3C WebAnnotation format
    //anno.loadAnnotations('annotations.w3c.json');

    // Attach handlers to listen to events
    anno.on('createAnnotation', function(a) {
      console.log(a)
      curanno.push(a)
    });
    anno.on('deleteAnnotation', function(a) {
      console.log(a)
    });
    anno.on('updateAnnotation', function(a) {
      console.log(a)
    });
  }
</script>

<div id="openseadragon" style="width: 640px; height: 480px;"></div>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
