<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<h1>MaiCuBeDa Statistics</h1>
<div id="wrapper" style="width:100%">
  <canvas id="chart"></canvas>
</div>
<div id="wrapper2" style="width:100%">
  <canvas id="chart2"></canvas>
</div>
<script>
function makeChart(players) {
  var charLabels = players.map(function(d) {
    return d.Character;
  });
  var periodsData = players.map(function(d) {
    return +d.Number_Periods;
  });

  var chart = new Chart('chart', {
    type: "bar",
    options: {
      maintainAspectRatio: false,
	  scales: {
		
	  },
      legend: {
        display: false
      },
	  plugins: {
            title: {
                display: true,
                text: 'Amount of time periods per character'
            }
        }
    },
    data: {
      labels: charLabels,
      datasets: [
        {
          data: periodsData
        }
      ]
    }
  });
}

d3.csv('data/charperperiod.csv')
  .then(makeChart);
</script>
<script>
function makeChart2(players) {
  var charLabels = players.map(function(d) {
    return d.filename;
  });
  var periodsData = players.map(function(d) {
    return +d.percentage;
  });

  var chart = new Chart('chart2', {
    type: "bar",
    options: {
      maintainAspectRatio: false,
      legend: {
        display: false
      },
	  plugins: {
            title: {
                display: true,
                text: 'Amount of time periods per character'
            }
        }
    },
    data: {
      labels: charLabels,
      datasets: [
        {
          data: periodsData
        }
      ]
    }
  });
}

d3.csv('data/translitstats.csv')
  .then(makeChart2);
</script>
</body>
</html>