---
layout: page
---
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<h1>MaiCuBeDa Statistics</h1>
<div>
  <canvas id="myChart"></canvas>
</div>
<script>
function makeChart(players) {
  var playerLabels = players.map(function(d) {return d.Name});
  var weeksData = players.map(function(d) {return +d.Weeks});
  const config = {
  type: 'line',
  data: weeksData,
  options: {}
  };
  var myChart = new Chart(
    document.getElementById('myChart'),
    config
 );
}
d3.csv('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2814973/atp_wta.csv')
  .then(makeChart);

</script>