<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<h1>MaiCuBeDa Statistics</h1>
<div id="wrapper" style="width:1000px">
  <canvas id="chart"></canvas>
</div>
<script>
function makeChart(players) {
  var playerLabels = players.map(function(d) {
    return d.Name;
  });
  var weeksData = players.map(function(d) {
    return +d.Weeks;
  });

  var chart = new Chart('chart', {
    type: "bar",
    options: {
      maintainAspectRatio: false,
      legend: {
        display: false
      }
    },
    data: {
      labels: playerLabels,
      datasets: [
        {
          data: weeksData
        }
      ]
    }
  });
}

d3.csv('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2814973/atp_wta.csv')
  .then(makeChart);

</script>
</body>
</html>